*
!.gitattributes
!.gitignore
!readme.md
!*.py
!*.bat
!*.pyx
!*.pyd
!*.cpp
!*.c
!*.h
!*.dll
!*.lib
!*.template
!*.ipynb
!*.R
!*.Rproj
!*.xml
!*.yml
!*/
!*VERSION*
.ipynb_checkpoints
*/.ipynb_checkpoints/*.ipynb
.idea/
__pycache__/
